<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cem DIRMAN</title>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Main Content -->
  <div class="container">
    <h1>Blog Ekle</h1>

    <form method="post" action="/admin/addblog">
      <div class="form-group">
        <label>Başlık</label>
        <input type="text" name="baslik" class="form-control" placeholder="Başlık">        
      </div>
      <div class="form-group">
        <label>Resim</label>
        <input type="text" name="resim" class="form-control" placeholder="Resim URL">
      </div>
      <div class="form-group">
        <label>İçerik</label>
        <textarea class="form-control" name="editor" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>

  </div>
  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p class="copyright text-muted">Copyright &copy; Cem DIRMAN 2018</p>
    </div>
  </footer>

  <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
  <script>  
		CKEDITOR.replace( 'editor' );		
  </script>

</body>

</html>