<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cem DIRMAN</title>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Main Content -->
  <div class="container">
    <h1>ekle</h1>
  </div>
  <hr>

<!-- Footer -->
<footer>
  <div class="container">
      <p class="copyright text-muted">Copyright &copy; Cem DIRMAN 2018</p>
  </div>
</footer>

</body>

</html>