<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Cem DIRMAN">

  <title>CD - Dashboard</title>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <br>
        <br>
        <h1>Admin Dashboard</h1>
    </div>
    <br>

  <!-- Main Content -->
    <div class="container">
    <a class="btn btn-primary" href="/admin/newBlog" role="button">Add New Blog</a><i class="glyphicon-plus"></i>
    <br>
    <br>
    <table>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Operation</th>
        </tr>
        <% postDataList.forEach( (post) => { %>
            <tr>
              <td><%=post.blogTitle%></td>
              <td><%=post.blogDate%></td>
              <td><a href="/admin/deleteBlog/<%=post._id%>"></a><button class="btn" title="Delete Record"><i class="fa fa-trash"></i></button></td>
            </tr>
        <%});%>
    </table>

    <hr>
    <br>
    <br>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p class="copyright text-muted">Copyright &copy; Cem DIRMAN 2018</p>
    </div>
  </footer>

</body>

</html>