<% include ./partials/header%>

 <!-- Page Header -->
 <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3d2f08aa6cebedae247e1ac4f60bb6a&auto=format&fit=crop&w=2100&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I graduated from FSMVU Computer Engineering. I'm interested in Java technologies like Spring framework. At the same time I like working Python, Nodejs and native Android programming. </p>
        <p>I like sharing my knowledge. For this reason i'm a author on bilisim.io web site. Usally i write about Java and Android programming. At the same time i'm a instructor about IOT, Robotic, Arduino and coding.</p>
        <p>In the future I would like to be Software Architect and I want to help open source projects.</p>
      </div>
    </div>
  </div>
  <hr>
<% include ./partials/footer%>