<% include ./partials/header%>
 <!-- Page Header -->
 <header class="masthead" style="background-image: url('images/contact.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Me</h1>            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Want to get in touch? I will get back to you as soon as possible!</p>
        <!--Email-->
        <p>E-mail: cemdrman@gmail.com</p>         
        <p class="fa fa-twitter"> twitter.com/cemdrman</p>
        <p class="fa fa-github"> github.com/cemdrman</p>
      </div>
    </div>
  </div>
<% include ./partials/footer%>