<%include ./partials/header%>
<!-- Page Header -->
<header class="masthead" style="background-image: url('images/blog.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading"></div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <% postDataList.forEach( (post) => { %>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <img class="img-thumbnail" src="<%=post.blogImage%>">
            </div>
            <div class="col-lg-9 mx-auto">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            <%=post.blogTitle%>
                        </h2>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Cem DIRMAN</a>
                        <%=post.blogDate%></p>
                </div>
            </div>
        </div>
        <%});%>
</div>
<hr>
<% include ./partials/footer%>