<%include ./partials/header%>
<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1461632830798-3adb3034e4c8?ixlib=rb-0.3.5&s=83a97a790b49715cd1a326f48e09b2ac&auto=format&fit=crop&w=2100&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Resume</h1>            
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container">
    <p class="text-center">Please visit my Linkedin profile for my resume </p>
</div>
<%include ./partials/footer%>