<%include ./partials/header%>
<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1461632830798-3adb3034e4c8?ixlib=rb-0.3.5&s=83a97a790b49715cd1a326f48e09b2ac&auto=format&fit=crop&w=2100&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">         
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container">
    <h4 class="text-center">Useful Books;</h4>
    <ul class="list-group">
        <li class="list-group-item">Clean Code <span class="badge"></span></li>        
        <li class="list-group-item">Effective Java</li>
        <li class="list-group-item">Gang of Four Design Patterns</li>
        <li class="list-group-item">Pratik Spring<span class="badge"></span></li> 
        <li class="list-group-item">Pratik Git <span class="badge"></span></li> 
        <li class="list-group-item">Desing Patterns <span class="badge"></span></li> 
        <li class="list-group-item">Kim Korkar Java'dan / Enterprise Java<span class="badge"></span></li> 
        
      </ul>
    <p class="text-center"> To be good programmer,</p>
</div>
<%include ./partials/footer%>